<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/site.css" rel="stylesheet" />



</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
